{% extends 'base.html.twig' %}
{% block title %}{{ article.nom }}{% endblock %}
{% block body %}
<img src="https://www.keejob.com/media/recruiter/recruiter_10459/logo-10459-20160411-165733.png" class="brand_logo" alt="Logo">

<h1>{{ article.sexe }} {{ article.nom }}  {{ article.prenom }}</h1>
<p>Numéro national : {{ article.numnat }}</p>
<p>Poste : {{ article.poste }}</p>
<p>Date debut : {{ article.DateDebut }}</p>
<p>Date Fin : {{ article.DateFin }}</p>
<p>Societe {{ article.societe }} représenté par {{ article.directeur }} </p>




<hr>
<a style=" text-decoration:none;  color:#FFFFFF ; font-size:16px;  border-color:#007BFF; background:#007BFF; padding:6px 12px; border-radius:10%; box-shadow: unset; " href="/">Retour </a>
<a style="color:white">     .</a>
<a href="/article/edit/{{ article.id }}" style="  text-decoration:none;  color:#FFFFFF ; font-size:16px;  border-color:#007BFF; background:#007BFF; padding:6px 12px; border-radius:10%; box-shadow: unset;"> Modifier</a>



{% endblock %}